<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header ('台州19楼-爬虫Demo-帖子列表页')}">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h3>当前任务id:<span th:text="${spiderTask.id}"></span></h3>
        <h4>当前任务关键词:<span th:text="${spiderTask.keyword}"></span></h4>
    </div>
</div>

<!--此处直接修改了bootstrap.min.css 源码，将小于765px显示滚动条改为小于1500，显示滚动条-->
<div class="table-responsive"  >
    <table class="table table-striped" >
        <caption>匹配的帖子</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>帖子标题</th>
            <th>关键词</th>
            <th>回复内容</th>
        </tr>
        </thead>
        <tbody id="matchPostTableBody">
        <tr th:each="matchPost : ${matchPostPageVO.list}" th:object="${matchPost}">
            <td th:text="*{id}"></td>
            <td ><a th:href="*{uri}" target="_blank" th:text="*{title}"></a></td>
            <td th:text="*{keyword}"></td>
            <td th:text="*{content}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container text-center">
    <ul class="pagination pagination-lg">
        <li th:class="${matchPostPageVO.pageNo == 1 || matchPostPageVO.pageNo <=5}   ? 'hidden'">
            <a th:href="${'/' +matchPostPageVO.serviceId +'/post/list?pageNo=1'}" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>

        <li th:each="i : ${#numbers.sequence(matchPostPageVO.pageNo <= 5 ? 1 : matchPostPageVO.pageNo - 4 ,
        matchPostPageVO.totalPage <= 10 ? matchPostPageVO.totalPage
        : (matchPostPageVO.pageNo + 4 <=  matchPostPageVO.totalPage) ? matchPostPageVO.pageNo + 4
        : matchPostPageVO.totalPage)}"

            th:class="${matchPostPageVO.pageNo == i} ? 'active'">
            <a th:text="${i}" th:href="${'/' +matchPostPageVO.serviceId +'/post/list?pageNo=' + i}"></a>
        </li>

        <li th:class="${matchPostPageVO.pageNo == matchPostPageVO.totalPage || matchPostPageVO.pageNo >= matchPostPageVO.totalPage - 4} ? 'hidden'">
            <a  th:href="${'/' +matchPostPageVO.serviceId +'/post/list?pageNo=' +matchPostPageVO.totalPage}"
               aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</div>

<span th:include="~{fragments/common :: js}"></span>
</body>
</html>
<script>

    $(function () {

        /**
         * 遍历表格，让关键词高亮
         */
        $("#matchPostTableBody").find("tr").each(function(){
            // 关键词
            var keyword = $(this).children().eq(2).text();
            // 内容tr
            var contentTr = $(this).children().eq(3);
            keyLight(contentTr[0],keyword,'yellow');
        });
    });

    /**
     * 关键词高亮方法
     */
    function keyLight(ele, key, bgColor){
        var oDiv = ele;
        sText = oDiv.innerHTML;
        bgColor = bgColor || "orange",
            sKey = "<span style='background-color: "+bgColor+";'>"+key+"</span>",
            num = -1,
            rStr = new RegExp(key, "g"),
            rHtml = new RegExp("\<.*?\>","ig"), //匹配html元素
            aHtml = sText.match(rHtml); //存放html元素的数组
        sText = sText.replace(rHtml, '{~}');  //替换html标签
        sText = sText.replace(rStr,sKey); //替换key
        sText = sText.replace(/{~}/g,function(){  //恢复html标签
            num++;
            return aHtml[num];
        });

        oDiv.innerHTML = sText;
    }
</script>
